ApptesteWipro/Amil.AppHospitais/Amil.AsmWebCad.UI/Service References/NowWCF/Now.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Amil.Now.DTO.Requests" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Amil.Now.DTO.Requests" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AuthenticateRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="ConfirmPalavra" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NewPalavra" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Palavra" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuthenticateRequest" nillable="true" type="tns:AuthenticateRequest" />
</xs:schema>