ApptesteWipro/Amil.AppHospitais/Amil.AsmWebCad.UI/Service References/NowWCF/Now2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.12.24.152/Amil.Now.WCF/Now.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Amil.Now.DTO" />
  <xs:import schemaLocation="http://10.12.24.152/Amil.Now.WCF/Now.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Amil.Now.DTO.Responses" />
  <xs:import schemaLocation="http://10.12.24.152/Amil.Now.WCF/Now.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Amil.Now.DTO.Requests" />
  <xs:element name="DeleteFacilityDivision">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Amil.Now.DTO" minOccurs="0" name="value" nillable="true" type="q1:NOW_UNIDADE_DIVISAO" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFacilityDivisionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IncludeSpecialtyIntoDivision">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Amil.Now.DTO" minOccurs="0" name="entity" nillable="true" type="q2:NOW_ESPECIALIDADE_DIVISAO" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IncludeSpecialtyIntoDivisionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveSpecialtyFromDivision">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Amil.Now.DTO" minOccurs="0" name="entity" nillable="true" type="q3:NOW_ESPECIALIDADE_DIVISAO" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveSpecialtyFromDivisionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SpecialtiesFromDivision">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="facilityId" type="xs:int" />
        <xs:element minOccurs="0" name="divisionId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SpecialtiesFromDivisionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Amil.Now.DTO" minOccurs="0" name="SpecialtiesFromDivisionResult" nillable="true" type="q4:ArrayOfEspecialidadeDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvailableFacilitiesForUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvailableFacilitiesForUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Amil.Now.DTO" minOccurs="0" name="GetAvailableFacilitiesForUserResult" nillable="true" type="q5:ArrayOfUnidadeDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersFromFacility">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="facilityId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersFromFacilityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Amil.Now.DTO" minOccurs="0" name="GetUsersFromFacilityResult" nillable="true" type="q6:ArrayOfUsuarioDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersFromGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="groupId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersFromGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Amil.Now.DTO" minOccurs="0" name="GetUsersFromGroupResult" nillable="true" type="q7:ArrayOfUsuarioDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUserIntoFacility">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Amil.Now.DTO" minOccurs="0" name="entity" nillable="true" type="q8:UsuarioDTO" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUserIntoFacilityResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveUserFromFacility">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userIdToRemove" type="xs:int" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveUserFromFacilityResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GravarGrupo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Amil.Now.DTO" minOccurs="0" name="grupo" nillable="true" type="q9:GrupoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GravarGrupoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GravarGrupoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadGrupo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idGrupo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadGrupoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Amil.Now.DTO" minOccurs="0" name="LoadGrupoResult" nillable="true" type="q10:GrupoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarGrupo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="buscar" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarGrupoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Amil.Now.DTO" minOccurs="0" name="BuscarGrupoResult" nillable="true" type="q11:ArrayOfGrupoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarUnidadeGrupo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUnidade" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarUnidadeGrupoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Amil.Now.DTO" minOccurs="0" name="BuscarUnidadeGrupoResult" nillable="true" type="q12:GrupoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GravarUnidadeGrupo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idGrupo" type="xs:int" />
        <xs:element minOccurs="0" name="idUnidade" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GravarUnidadeGrupoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GravarUnidadeGrupoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExcluirUnidadeGrupo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idGrupo" type="xs:int" />
        <xs:element minOccurs="0" name="idUnidade" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExcluirUnidadeGrupoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ExcluirGrupo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idGrupo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExcluirGrupoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarGrupoUnidadeDisponivel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUnidade" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarGrupoUnidadeDisponivelResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AccessKey">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Amil.Now.DTO" minOccurs="0" name="key" nillable="true" type="q13:AccessKeyDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AccessKeyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Amil.Now.DTO" minOccurs="0" name="AccessKeyResult" nillable="true" type="q14:AccessKeyDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateActivationKey">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Amil.Now.DTO" minOccurs="0" name="key" nillable="true" type="q15:AccessKeyDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateActivationKeyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Amil.Now.DTO" minOccurs="0" name="ValidateActivationKeyResult" nillable="true" type="q16:AccessKeyDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Version">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idSystem" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="version" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VersionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Amil.Now.DTO" minOccurs="0" name="VersionResult" nillable="true" type="q17:VersionDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EstratificacaoRisco">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EstratificacaoRiscoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Amil.Now.DTO" minOccurs="0" name="EstratificacaoRiscoResult" nillable="true" type="q18:ArrayOfEstratificacaoRiscoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EstratificacaoRiscoId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EstratificacaoRiscoIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Amil.Now.DTO" minOccurs="0" name="EstratificacaoRiscoIdResult" nillable="true" type="q19:ArrayOfEstratificacaoRiscoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Estratificacao">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUnit" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EstratificacaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Amil.Now.DTO" minOccurs="0" name="EstratificacaoResult" nillable="true" type="q20:ArrayOfCM_ESTRATIFICACAO_RISCO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarUnidades">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarUnidadesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Amil.Now.DTO.Responses" minOccurs="0" name="ListarUnidadesResult" nillable="true" type="q21:ArrayOfUnidade" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Unidade">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_unidade" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnidadeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Amil.Now.DTO.Responses" minOccurs="0" name="UnidadeResult" nillable="true" type="q22:Unidade" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FilasUnidade">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_unidade" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FilasUnidadeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Amil.Now.DTO.Responses" minOccurs="0" name="FilasUnidadeResult" nillable="true" type="q23:ArrayOfUnidadeFaseSumario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PacientesNaFila">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_unidade" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="id_unidade_fase" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PacientesNaFilaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Amil.Now.DTO.Responses" minOccurs="0" name="PacientesNaFilaResult" nillable="true" type="q24:ArrayOfPacienteFase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PacientePorSenha">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_unidade" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="id_unidade_fase" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="id_senha" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PacientePorSenhaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Amil.Now.DTO.Responses" minOccurs="0" name="PacientePorSenhaResult" nillable="true" type="q25:PacienteSenha" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetaFeedbackPendente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_unidade" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="id_senha" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetaFeedbackPendenteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetaFeedbackOK">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_unidade" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="id_senha" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetaFeedbackOKResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UnidadeEstruturaGrafico">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_unidade" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnidadeEstruturaGraficoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Amil.Now.DTO.Responses" minOccurs="0" name="UnidadeEstruturaGraficoResult" nillable="true" type="q26:UnidadeEstruturaGrafico" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnidadeDadosGrafico">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_unidade" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnidadeDadosGraficoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Amil.Now.DTO.Responses" minOccurs="0" name="UnidadeDadosGraficoResult" nillable="true" type="q27:UnidadeDadosGrafico" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EstimativasEspecialidades">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_unidade" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EstimativasEspecialidadesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Amil.Now.DTO" minOccurs="0" name="EstimativasEspecialidadesResult" nillable="true" type="q28:ArrayOfEspecialidadePorRiscoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaUnidades">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaUnidadesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Amil.Now.DTO" minOccurs="0" name="ListaUnidadesResult" nillable="true" type="q29:ArrayOfUnidadeDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnidadeCd">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cdUnidade" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnidadeCdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Amil.Now.DTO" minOccurs="0" name="UnidadeCdResult" nillable="true" type="q30:UnidadeDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnidadeId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUnidade" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnidadeIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/Amil.Now.DTO" minOccurs="0" name="UnidadeIdResult" nillable="true" type="q31:UnidadeDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Grafico">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUnidade" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GraficoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/Amil.Now.DTO" minOccurs="0" name="GraficoResult" nillable="true" type="q32:UnidadeDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DadosGrafico">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUnidade" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DadosGraficoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/Amil.Now.DTO" minOccurs="0" name="DadosGraficoResult" nillable="true" type="q33:UnidadeDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/Amil.Now.DTO.Requests" minOccurs="0" name="auth" nillable="true" type="q34:AuthenticateRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/Amil.Now.DTO.Responses" minOccurs="0" name="LoginResult" nillable="true" type="q35:LoginResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/Amil.Now.DTO.Requests" minOccurs="0" name="auth" nillable="true" type="q36:AuthenticateRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/Amil.Now.DTO.Responses" minOccurs="0" name="ChangePasswordResult" nillable="true" type="q37:LoginResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnidadeDadosId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnidadeDadosIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/Amil.Now.DTO" minOccurs="0" name="UnidadeDadosIdResult" nillable="true" type="q38:NOW_UNIDADE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnidadeDadosNome">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nome" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnidadeDadosNomeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/Amil.Now.DTO" minOccurs="0" name="UnidadeDadosNomeResult" nillable="true" type="q39:ArrayOfNOW_UNIDADE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnidadeDadosCd">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnidadeDadosCdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/Amil.Now.DTO" minOccurs="0" name="UnidadeDadosCdResult" nillable="true" type="q40:ArrayOfNOW_UNIDADE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnidadeAtivar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnidadeAtivarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UnidadeDesativar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnidadeDesativarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UnidadeEspecialidade">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUn" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnidadeEspecialidadeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/Amil.Now.DTO" minOccurs="0" name="UnidadeEspecialidadeResult" nillable="true" type="q41:ArrayOfEspecialidadeDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnidadeIncluir">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/Amil.Now.DTO" minOccurs="0" name="entity" nillable="true" type="q42:NOW_UNIDADE" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnidadeIncluirResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UnidadeAlterar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/Amil.Now.DTO" minOccurs="0" name="entity" nillable="true" type="q43:NOW_UNIDADE" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnidadeAlterarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Regional">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RegionalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/Amil.Now.DTO" minOccurs="0" name="RegionalResult" nillable="true" type="q44:ArrayOfCM_REGIONAL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegionalId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegionalIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/Amil.Now.DTO" minOccurs="0" name="RegionalIdResult" nillable="true" type="q45:CM_REGIONAL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegionalNome">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="regional" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegionalNomeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/Amil.Now.DTO" minOccurs="0" name="RegionalNomeResult" nillable="true" type="q46:CM_REGIONAL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegionalUF">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUf" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegionalUFResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/Amil.Now.DTO" minOccurs="0" name="RegionalUFResult" nillable="true" type="q47:ArrayOfCM_REGIONAL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Estado">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EstadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/Amil.Now.DTO" minOccurs="0" name="EstadoResult" nillable="true" type="q48:ArrayOfESTADOS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EstadoNome">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uf" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EstadoNomeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/Amil.Now.DTO" minOccurs="0" name="EstadoNomeResult" nillable="true" type="q49:ESTADOS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EscalaRisco">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EscalaRiscoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/Amil.Now.DTO" minOccurs="0" name="EscalaRiscoResult" nillable="true" type="q50:ArrayOfCM_ESCALA_RISCO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EscalaRiscoId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EscalaRiscoIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/Amil.Now.DTO" minOccurs="0" name="EscalaRiscoIdResult" nillable="true" type="q51:CM_ESCALA_RISCO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BaseWpd">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BaseWpdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/Amil.Now.DTO" minOccurs="0" name="BaseWpdResult" nillable="true" type="q52:ArrayOfCM_BASE_DADOS_WPD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BaseWpdId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BaseWpdIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/Amil.Now.DTO" minOccurs="0" name="BaseWpdIdResult" nillable="true" type="q53:CM_BASE_DADOS_WPD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EspecialidadeIncluir">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/Amil.Now.DTO" minOccurs="0" name="entity" nillable="true" type="q54:NOW_UNIDADE_ESPECIALIDADE" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EspecialidadeIncluirResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EspecialidadeAlterar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/Amil.Now.DTO" minOccurs="0" name="entity" nillable="true" type="q55:NOW_UNIDADE_ESPECIALIDADE" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EspecialidadeAlterarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EspecialidadeExcluir">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/Amil.Now.DTO" minOccurs="0" name="entity" nillable="true" type="q56:NOW_UNIDADE_ESPECIALIDADE" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EspecialidadeExcluirResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EspecialidadeVerificar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/Amil.Now.DTO" minOccurs="0" name="dto" nillable="true" type="q57:NOW_UNIDADE_ESPECIALIDADE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EspecialidadeVerificarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EspecialidadeId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EspecialidadeIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/Amil.Now.DTO" minOccurs="0" name="EspecialidadeIdResult" nillable="true" type="q58:NOW_UNIDADE_ESPECIALIDADE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EspecialidadeNome">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EspecialidadeNomeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EspecialidadeNomeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EspecialidadeGrafico">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUnidade" type="xs:int" />
        <xs:element minOccurs="0" name="idFase" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EspecialidadeGraficoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/Amil.Now.DTO" minOccurs="0" name="EspecialidadeGraficoResult" nillable="true" type="q59:ArrayOfEspecialidadeDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNowSpecialties">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNowSpecialtiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/Amil.Now.DTO" minOccurs="0" name="GetNowSpecialtiesResult" nillable="true" type="q60:ArrayOfNowSpecialtyDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNowSpecialty">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="specialtyId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNowSpecialtyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/Amil.Now.DTO" minOccurs="0" name="GetNowSpecialtyResult" nillable="true" type="q61:NowSpecialtyDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNowSpecialty">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/Amil.Now.DTO" minOccurs="0" name="value" nillable="true" type="q62:NOW_ESPECIALIDADES" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNowSpecialtyResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateNowSpecialty">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/Amil.Now.DTO" minOccurs="0" name="value" nillable="true" type="q63:NOW_ESPECIALIDADES" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateNowSpecialtyResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveNowSpecialty">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="specialtyId" type="xs:int" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveNowSpecialtyResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EspecialidadeRemoverGrafico">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/Amil.Now.DTO" minOccurs="0" name="entity" nillable="true" type="q64:NOW_UNIDADE_FASE_ESPEC" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EspecialidadeRemoverGraficoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EspecialidadeIncluirGrafico">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/Amil.Now.DTO" minOccurs="0" name="entity" nillable="true" type="q65:NOW_UNIDADE_FASE_ESPEC" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EspecialidadeIncluirGraficoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EspecialidadePorRisco">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUnidade" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EspecialidadePorRiscoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/Amil.Now.DTO" minOccurs="0" name="EspecialidadePorRiscoResult" nillable="true" type="q66:ArrayOfEspecialidadePorRiscoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RiscoId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RiscoIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/Amil.Now.DTO" minOccurs="0" name="RiscoIdResult" nillable="true" type="q67:NOW_TEMPO_ESPEC_RISCO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RiscoPorEspecialidade">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nome" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RiscoPorEspecialidadeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/Amil.Now.DTO" minOccurs="0" name="RiscoPorEspecialidadeResult" nillable="true" type="q68:ArrayOfRiscoEspecialidadeDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RiscoPorEspecialidadeCod">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cod" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RiscoPorEspecialidadeCodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/Amil.Now.DTO" minOccurs="0" name="RiscoPorEspecialidadeCodResult" nillable="true" type="q69:ArrayOfRiscoEspecialidadeDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RiscoPorEspecialidadeIdDados">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEspec" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RiscoPorEspecialidadeIdDadosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/Amil.Now.DTO" minOccurs="0" name="RiscoPorEspecialidadeIdDadosResult" nillable="true" type="q70:RiscoEspecialidadeDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RiscoPorEspecialidadeId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUn" type="xs:int" />
        <xs:element minOccurs="0" name="idUnidEspec" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RiscoPorEspecialidadeIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/Amil.Now.DTO" minOccurs="0" name="RiscoPorEspecialidadeIdResult" nillable="true" type="q71:ArrayOfNOW_UNIDADE_ESPECIALIDADE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RiscoPorEspecialidadeIncluir">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/Amil.Now.DTO" minOccurs="0" name="entity" nillable="true" type="q72:NOW_TEMPO_ESPEC_RISCO" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RiscoPorEspecialidadeIncluirResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RiscoPorEspecialidadeAlterar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/Amil.Now.DTO" minOccurs="0" name="entity" nillable="true" type="q73:NOW_TEMPO_ESPEC_RISCO" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RiscoPorEspecialidadeAlterarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RiscoPorEspecialidadeExcluir">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/Amil.Now.DTO" minOccurs="0" name="entity" nillable="true" type="q74:NOW_TEMPO_ESPEC_RISCO" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RiscoPorEspecialidadeExcluirResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RiscoPorGraficoId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idFaseRisco" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RiscoPorGraficoIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/Amil.Now.DTO" minOccurs="0" name="RiscoPorGraficoIdResult" nillable="true" type="q75:NOW_TEMPO_FASE_RISCO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RiscoPorGrafico">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUnidadeFase" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RiscoPorGraficoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://schemas.datacontract.org/2004/07/Amil.Now.DTO" minOccurs="0" name="RiscoPorGraficoResult" nillable="true" type="q76:ArrayOfNOW_TEMPO_FASE_RISCO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RiscoGraficoIncluir">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q77="http://schemas.datacontract.org/2004/07/Amil.Now.DTO" minOccurs="0" name="entity" nillable="true" type="q77:NOW_TEMPO_FASE_RISCO" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RiscoGraficoIncluirResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RiscoGraficoAlterar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q78="http://schemas.datacontract.org/2004/07/Amil.Now.DTO" minOccurs="0" name="entity" nillable="true" type="q78:NOW_TEMPO_FASE_RISCO" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RiscoGraficoAlterarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RiscoGraficoExcluir">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q79="http://schemas.datacontract.org/2004/07/Amil.Now.DTO" minOccurs="0" name="entity" nillable="true" type="q79:NOW_TEMPO_FASE_RISCO" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RiscoGraficoExcluirResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FaseListar">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FaseListarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q80="http://schemas.datacontract.org/2004/07/Amil.Now.DTO" minOccurs="0" name="FaseListarResult" nillable="true" type="q80:ArrayOfNOW_FASE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FaseId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idFase" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FaseIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q81="http://schemas.datacontract.org/2004/07/Amil.Now.DTO" minOccurs="0" name="FaseIdResult" nillable="true" type="q81:NOW_FASE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FaseListaUnidade">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUnidade" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FaseListaUnidadeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q82="http://schemas.datacontract.org/2004/07/Amil.Now.DTO" minOccurs="0" name="FaseListaUnidadeResult" nillable="true" type="q82:ArrayOfNOW_UNIDADE_FASE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FaseUnidade">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUnidadeFase" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FaseUnidadeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q83="http://schemas.datacontract.org/2004/07/Amil.Now.DTO" minOccurs="0" name="FaseUnidadeResult" nillable="true" type="q83:NOW_UNIDADE_FASE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FaseIncluir">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q84="http://schemas.datacontract.org/2004/07/Amil.Now.DTO" minOccurs="0" name="entity" nillable="true" type="q84:NOW_UNIDADE_FASE" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FaseIncluirResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FaseAlterar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q85="http://schemas.datacontract.org/2004/07/Amil.Now.DTO" minOccurs="0" name="entity" nillable="true" type="q85:NOW_UNIDADE_FASE" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FaseAlterarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FaseExculir">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q86="http://schemas.datacontract.org/2004/07/Amil.Now.DTO" minOccurs="0" name="entity" nillable="true" type="q86:NOW_UNIDADE_FASE" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FaseExculirResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PeriodoId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PeriodoIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q87="http://schemas.datacontract.org/2004/07/Amil.Now.DTO" minOccurs="0" name="PeriodoIdResult" nillable="true" type="q87:NOW_UNIDADE_FASE_PERIODO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PeriodoLista">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PeriodoListaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q88="http://schemas.datacontract.org/2004/07/Amil.Now.DTO" minOccurs="0" name="PeriodoListaResult" nillable="true" type="q88:ArrayOfNOW_UNIDADE_FASE_PERIODO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PeriodoAlterar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q89="http://schemas.datacontract.org/2004/07/Amil.Now.DTO" minOccurs="0" name="entity" nillable="true" type="q89:NOW_UNIDADE_FASE_PERIODO" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PeriodoAlterarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PeriodoIncluir">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q90="http://schemas.datacontract.org/2004/07/Amil.Now.DTO" minOccurs="0" name="entity" nillable="true" type="q90:NOW_UNIDADE_FASE_PERIODO" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PeriodoIncluirResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PeriodoDeletar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q91="http://schemas.datacontract.org/2004/07/Amil.Now.DTO" minOccurs="0" name="entity" nillable="true" type="q91:NOW_UNIDADE_FASE_PERIODO" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PeriodoDeletarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFacilityDivisions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="facilityId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFacilityDivisionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q92="http://schemas.datacontract.org/2004/07/Amil.Now.DTO" minOccurs="0" name="GetFacilityDivisionsResult" nillable="true" type="q92:ArrayOfNOW_UNIDADE_DIVISAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFacilityDivision">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="facilityDivisionId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFacilityDivisionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q93="http://schemas.datacontract.org/2004/07/Amil.Now.DTO" minOccurs="0" name="GetFacilityDivisionResult" nillable="true" type="q93:NOW_UNIDADE_DIVISAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateFacilityDivision">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q94="http://schemas.datacontract.org/2004/07/Amil.Now.DTO" minOccurs="0" name="value" nillable="true" type="q94:NOW_UNIDADE_DIVISAO" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateFacilityDivisionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFacilityDivision">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q95="http://schemas.datacontract.org/2004/07/Amil.Now.DTO" minOccurs="0" name="value" nillable="true" type="q95:NOW_UNIDADE_DIVISAO" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFacilityDivisionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>