ApptesteWipro/Amil.AppHospitais/Amil.AppHospitais.Servicos/Service References/tissVerificaElegibilidade/tissVerificaElegibilidade_PortType.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.ans.gov.br/tiss/ws/tipos/tissverificaelegibilidade/v30200" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s1="http://www.w3.org/2000/09/xmldsig#" xmlns:s0="http://www.ans.gov.br/padroes/tiss/schemas" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.ans.gov.br/tiss/ws/tipos/tissverificaelegibilidade/v30200" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.ans.gov.br/padroes/tiss/schemas">
      <s:import namespace="http://www.w3.org/2000/09/xmldsig#" />
      <s:element name="pedidoElegibilidadeWS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cabecalho" type="s0:cabecalhoTransacao" />
            <s:element minOccurs="0" maxOccurs="1" name="pedidoElegibilidade" type="s0:ct_elegibilidadeVerifica" />
            <s:element minOccurs="0" maxOccurs="1" name="hash" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="assinaturaDigital" type="s0:assinaturaDigital" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="cabecalhoTransacao">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="identificacaoTransacao">
            <s:complexType>
              <s:sequence>
                <s:element minOccurs="1" maxOccurs="1" name="tipoTransacao" type="s0:dm_tipoTransacao" />
                <s:element minOccurs="0" maxOccurs="1" name="sequencialTransacao" type="s:string" />
                <s:element minOccurs="1" maxOccurs="1" name="dataRegistroTransacao" type="s:date" />
                <s:element minOccurs="1" maxOccurs="1" name="horaRegistroTransacao" type="s:time" />
              </s:sequence>
            </s:complexType>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="falhaNegocio" type="s0:dm_tipoGlosa" />
          <s:element minOccurs="0" maxOccurs="1" name="origem">
            <s:complexType>
              <s:sequence>
                <s:choice minOccurs="1" maxOccurs="1">
                  <s:element minOccurs="0" maxOccurs="1" name="identificacaoPrestador">
                    <s:complexType>
                      <s:complexContent mixed="false">
                        <s:extension base="s0:ct_prestadorIdentificacao" />
                      </s:complexContent>
                    </s:complexType>
                  </s:element>
                  <s:element minOccurs="0" maxOccurs="1" name="registroANS" type="s:string" />
                </s:choice>
              </s:sequence>
            </s:complexType>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="destino">
            <s:complexType>
              <s:sequence>
                <s:choice minOccurs="1" maxOccurs="1">
                  <s:element minOccurs="0" maxOccurs="1" name="identificacaoPrestador" type="s0:ct_prestadorIdentificacao" />
                  <s:element minOccurs="0" maxOccurs="1" name="registroANS" type="s:string" />
                </s:choice>
              </s:sequence>
            </s:complexType>
          </s:element>
          <s:element minOccurs="1" maxOccurs="1" name="versaoPadrao" type="s0:dm_versao" />
          <s:element minOccurs="0" maxOccurs="1" name="loginSenhaPrestador" type="s0:ct_loginSenha" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="dm_tipoTransacao">
        <s:restriction base="s:string">
          <s:enumeration value="ENVIO_LOTE_GUIAS" />
          <s:enumeration value="ENVIO_ANEXO" />
          <s:enumeration value="SOLIC_DEMONSTRATIVO_RETORNO" />
          <s:enumeration value="SOLIC_STATUS_PROTOCOLO" />
          <s:enumeration value="SOLICITACAO_PROCEDIMENTOS" />
          <s:enumeration value="SOLICITA_STATUS_AUTORIZACAO" />
          <s:enumeration value="VERIFICA_ELEGIBILIDADE" />
          <s:enumeration value="CANCELA_GUIA" />
          <s:enumeration value="COMUNICACAO_BENEFICIARIO" />
          <s:enumeration value="RECURSO_GLOSA" />
          <s:enumeration value="SOLIC_STATUS_RECURSO_GLOSA" />
          <s:enumeration value="PROTOCOLO_RECEBIMENTO" />
          <s:enumeration value="PROTOCOLO_RECEBIMENTO_ANEXO" />
          <s:enumeration value="RECEBIMENTO_RECURSO_GLOSA" />
          <s:enumeration value="DEMONSTRATIVO_ANALISE_CONTA" />
          <s:enumeration value="DEMONSTRATIVO_PAGAMENTO" />
          <s:enumeration value="DEMONSTRATIVO_ODONTOLOGIA" />
          <s:enumeration value="SITUACAO_PROTOCOLO" />
          <s:enumeration value="RESPOSTA_SOLICITACAO" />
          <s:enumeration value="AUTORIZACAO_ODONTOLOGIA" />
          <s:enumeration value="STATUS_AUTORIZACAO" />
          <s:enumeration value="SITUACAO_ELEGIBILIDADE" />
          <s:enumeration value="CANCELAMENTO_GUIA_RECIBO" />
          <s:enumeration value="RECIBO_COMUNICACAO" />
          <s:enumeration value="RESPOSTA_RECURSO_GLOSA" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="dm_tipoGlosa">
        <s:restriction base="s:string">
          <s:enumeration value="1001" />
          <s:enumeration value="1002" />
          <s:enumeration value="1003" />
          <s:enumeration value="1004" />
          <s:enumeration value="1005" />
          <s:enumeration value="1006" />
          <s:enumeration value="1007" />
          <s:enumeration value="1008" />
          <s:enumeration value="1009" />
          <s:enumeration value="1010" />
          <s:enumeration value="1011" />
          <s:enumeration value="1012" />
          <s:enumeration value="1013" />
          <s:enumeration value="1014" />
          <s:enumeration value="1015" />
          <s:enumeration value="1016" />
          <s:enumeration value="1017" />
          <s:enumeration value="1018" />
          <s:enumeration value="1019" />
          <s:enumeration value="1020" />
          <s:enumeration value="1021" />
          <s:enumeration value="1022" />
          <s:enumeration value="1023" />
          <s:enumeration value="1024" />
          <s:enumeration value="1025" />
          <s:enumeration value="1101" />
          <s:enumeration value="1102" />
          <s:enumeration value="1103" />
          <s:enumeration value="1104" />
          <s:enumeration value="1201" />
          <s:enumeration value="1202" />
          <s:enumeration value="1203" />
          <s:enumeration value="1204" />
          <s:enumeration value="1205" />
          <s:enumeration value="1206" />
          <s:enumeration value="1207" />
          <s:enumeration value="1208" />
          <s:enumeration value="1209" />
          <s:enumeration value="1210" />
          <s:enumeration value="1211" />
          <s:enumeration value="1212" />
          <s:enumeration value="1213" />
          <s:enumeration value="1214" />
          <s:enumeration value="1215" />
          <s:enumeration value="1216" />
          <s:enumeration value="1217" />
          <s:enumeration value="1218" />
          <s:enumeration value="1301" />
          <s:enumeration value="1302" />
          <s:enumeration value="1303" />
          <s:enumeration value="1304" />
          <s:enumeration value="1305" />
          <s:enumeration value="1306" />
          <s:enumeration value="1307" />
          <s:enumeration value="1308" />
          <s:enumeration value="1309" />
          <s:enumeration value="1310" />
          <s:enumeration value="1311" />
          <s:enumeration value="1312" />
          <s:enumeration value="1313" />
          <s:enumeration value="1314" />
          <s:enumeration value="1315" />
          <s:enumeration value="1316" />
          <s:enumeration value="1317" />
          <s:enumeration value="1318" />
          <s:enumeration value="1319" />
          <s:enumeration value="1320" />
          <s:enumeration value="1321" />
          <s:enumeration value="1322" />
          <s:enumeration value="1323" />
          <s:enumeration value="1401" />
          <s:enumeration value="1402" />
          <s:enumeration value="1403" />
          <s:enumeration value="1404" />
          <s:enumeration value="1405" />
          <s:enumeration value="1406" />
          <s:enumeration value="1407" />
          <s:enumeration value="1408" />
          <s:enumeration value="1409" />
          <s:enumeration value="1410" />
          <s:enumeration value="1411" />
          <s:enumeration value="1412" />
          <s:enumeration value="1413" />
          <s:enumeration value="1414" />
          <s:enumeration value="1415" />
          <s:enumeration value="1416" />
          <s:enumeration value="1417" />
          <s:enumeration value="1418" />
          <s:enumeration value="1419" />
          <s:enumeration value="1420" />
          <s:enumeration value="1421" />
          <s:enumeration value="1422" />
          <s:enumeration value="1423" />
          <s:enumeration value="1424" />
          <s:enumeration value="1425" />
          <s:enumeration value="1426" />
          <s:enumeration value="1427" />
          <s:enumeration value="1428" />
          <s:enumeration value="1429" />
          <s:enumeration value="1430" />
          <s:enumeration value="1431" />
          <s:enumeration value="1432" />
          <s:enumeration value="1433" />
          <s:enumeration value="1434" />
          <s:enumeration value="1435" />
          <s:enumeration value="1436" />
          <s:enumeration value="1437" />
          <s:enumeration value="1438" />
          <s:enumeration value="1501" />
          <s:enumeration value="1502" />
          <s:enumeration value="1503" />
          <s:enumeration value="1504" />
          <s:enumeration value="1505" />
          <s:enumeration value="1506" />
          <s:enumeration value="1507" />
          <s:enumeration value="1508" />
          <s:enumeration value="1509" />
          <s:enumeration value="1601" />
          <s:enumeration value="1602" />
          <s:enumeration value="1603" />
          <s:enumeration value="1604" />
          <s:enumeration value="1605" />
          <s:enumeration value="1606" />
          <s:enumeration value="1607" />
          <s:enumeration value="1608" />
          <s:enumeration value="1609" />
          <s:enumeration value="1610" />
          <s:enumeration value="1611" />
          <s:enumeration value="1612" />
          <s:enumeration value="1613" />
          <s:enumeration value="1614" />
          <s:enumeration value="1615" />
          <s:enumeration value="1701" />
          <s:enumeration value="1702" />
          <s:enumeration value="1703" />
          <s:enumeration value="1704" />
          <s:enumeration value="1705" />
          <s:enumeration value="1706" />
          <s:enumeration value="1707" />
          <s:enumeration value="1708" />
          <s:enumeration value="1709" />
          <s:enumeration value="1710" />
          <s:enumeration value="1711" />
          <s:enumeration value="1712" />
          <s:enumeration value="1713" />
          <s:enumeration value="1714" />
          <s:enumeration value="1715" />
          <s:enumeration value="1716" />
          <s:enumeration value="1717" />
          <s:enumeration value="1718" />
          <s:enumeration value="1719" />
          <s:enumeration value="1720" />
          <s:enumeration value="1721" />
          <s:enumeration value="1722" />
          <s:enumeration value="1723" />
          <s:enumeration value="1724" />
          <s:enumeration value="1725" />
          <s:enumeration value="1726" />
          <s:enumeration value="1727" />
          <s:enumeration value="1728" />
          <s:enumeration value="1729" />
          <s:enumeration value="1730" />
          <s:enumeration value="1731" />
          <s:enumeration value="1732" />
          <s:enumeration value="1733" />
          <s:enumeration value="1734" />
          <s:enumeration value="1735" />
          <s:enumeration value="1736" />
          <s:enumeration value="1737" />
          <s:enumeration value="1738" />
          <s:enumeration value="1739" />
          <s:enumeration value="1740" />
          <s:enumeration value="1741" />
          <s:enumeration value="1742" />
          <s:enumeration value="1743" />
          <s:enumeration value="1744" />
          <s:enumeration value="1745" />
          <s:enumeration value="1746" />
          <s:enumeration value="1747" />
          <s:enumeration value="1748" />
          <s:enumeration value="1749" />
          <s:enumeration value="1801" />
          <s:enumeration value="1802" />
          <s:enumeration value="1803" />
          <s:enumeration value="1804" />
          <s:enumeration value="1805" />
          <s:enumeration value="1806" />
          <s:enumeration value="1807" />
          <s:enumeration value="1808" />
          <s:enumeration value="1809" />
          <s:enumeration value="1810" />
          <s:enumeration value="1811" />
          <s:enumeration value="1812" />
          <s:enumeration value="1813" />
          <s:enumeration value="1814" />
          <s:enumeration value="1815" />
          <s:enumeration value="1816" />
          <s:enumeration value="1817" />
          <s:enumeration value="1818" />
          <s:enumeration value="1819" />
          <s:enumeration value="1820" />
          <s:enumeration value="1821" />
          <s:enumeration value="1822" />
          <s:enumeration value="1823" />
          <s:enumeration value="1824" />
          <s:enumeration value="1825" />
          <s:enumeration value="1826" />
          <s:enumeration value="1827" />
          <s:enumeration value="1828" />
          <s:enumeration value="1829" />
          <s:enumeration value="1830" />
          <s:enumeration value="1831" />
          <s:enumeration value="1832" />
          <s:enumeration value="1833" />
          <s:enumeration value="1834" />
          <s:enumeration value="1835" />
          <s:enumeration value="1836" />
          <s:enumeration value="1837" />
          <s:enumeration value="1838" />
          <s:enumeration value="1839" />
          <s:enumeration value="1840" />
          <s:enumeration value="1901" />
          <s:enumeration value="1902" />
          <s:enumeration value="1903" />
          <s:enumeration value="1904" />
          <s:enumeration value="1905" />
          <s:enumeration value="1906" />
          <s:enumeration value="1907" />
          <s:enumeration value="1908" />
          <s:enumeration value="1909" />
          <s:enumeration value="1910" />
          <s:enumeration value="1911" />
          <s:enumeration value="1912" />
          <s:enumeration value="1913" />
          <s:enumeration value="1914" />
          <s:enumeration value="1915" />
          <s:enumeration value="1916" />
          <s:enumeration value="1917" />
          <s:enumeration value="1918" />
          <s:enumeration value="2001" />
          <s:enumeration value="2002" />
          <s:enumeration value="2003" />
          <s:enumeration value="2004" />
          <s:enumeration value="2005" />
          <s:enumeration value="2006" />
          <s:enumeration value="2007" />
          <s:enumeration value="2008" />
          <s:enumeration value="2009" />
          <s:enumeration value="2010" />
          <s:enumeration value="2011" />
          <s:enumeration value="2012" />
          <s:enumeration value="2013" />
          <s:enumeration value="2014" />
          <s:enumeration value="2015" />
          <s:enumeration value="2101" />
          <s:enumeration value="2102" />
          <s:enumeration value="2103" />
          <s:enumeration value="2104" />
          <s:enumeration value="2105" />
          <s:enumeration value="2106" />
          <s:enumeration value="2107" />
          <s:enumeration value="2108" />
          <s:enumeration value="2109" />
          <s:enumeration value="2110" />
          <s:enumeration value="2111" />
          <s:enumeration value="2112" />
          <s:enumeration value="2113" />
          <s:enumeration value="2114" />
          <s:enumeration value="2115" />
          <s:enumeration value="2201" />
          <s:enumeration value="2202" />
          <s:enumeration value="2203" />
          <s:enumeration value="2204" />
          <s:enumeration value="2205" />
          <s:enumeration value="2206" />
          <s:enumeration value="2207" />
          <s:enumeration value="2208" />
          <s:enumeration value="2209" />
          <s:enumeration value="2210" />
          <s:enumeration value="2211" />
          <s:enumeration value="2212" />
          <s:enumeration value="2213" />
          <s:enumeration value="2301" />
          <s:enumeration value="2302" />
          <s:enumeration value="2303" />
          <s:enumeration value="2304" />
          <s:enumeration value="2305" />
          <s:enumeration value="2306" />
          <s:enumeration value="2307" />
          <s:enumeration value="2308" />
          <s:enumeration value="2309" />
          <s:enumeration value="2310" />
          <s:enumeration value="2401" />
          <s:enumeration value="2402" />
          <s:enumeration value="2403" />
          <s:enumeration value="2404" />
          <s:enumeration value="2405" />
          <s:enumeration value="2406" />
          <s:enumeration value="2407" />
          <s:enumeration value="2408" />
          <s:enumeration value="2409" />
          <s:enumeration value="2410" />
          <s:enumeration value="2411" />
          <s:enumeration value="2412" />
          <s:enumeration value="2413" />
          <s:enumeration value="2414" />
          <s:enumeration value="2415" />
          <s:enumeration value="2416" />
          <s:enumeration value="2417" />
          <s:enumeration value="2418" />
          <s:enumeration value="2419" />
          <s:enumeration value="2420" />
          <s:enumeration value="2421" />
          <s:enumeration value="2422" />
          <s:enumeration value="2423" />
          <s:enumeration value="2424" />
          <s:enumeration value="2501" />
          <s:enumeration value="2502" />
          <s:enumeration value="2503" />
          <s:enumeration value="2504" />
          <s:enumeration value="2505" />
          <s:enumeration value="2506" />
          <s:enumeration value="2507" />
          <s:enumeration value="2508" />
          <s:enumeration value="2509" />
          <s:enumeration value="2510" />
          <s:enumeration value="2511" />
          <s:enumeration value="2512" />
          <s:enumeration value="2513" />
          <s:enumeration value="2514" />
          <s:enumeration value="2515" />
          <s:enumeration value="2516" />
          <s:enumeration value="2601" />
          <s:enumeration value="2602" />
          <s:enumeration value="2603" />
          <s:enumeration value="2604" />
          <s:enumeration value="2605" />
          <s:enumeration value="2606" />
          <s:enumeration value="2607" />
          <s:enumeration value="2608" />
          <s:enumeration value="2609" />
          <s:enumeration value="2610" />
          <s:enumeration value="2611" />
          <s:enumeration value="2612" />
          <s:enumeration value="2613" />
          <s:enumeration value="2614" />
          <s:enumeration value="2701" />
          <s:enumeration value="2702" />
          <s:enumeration value="2703" />
          <s:enumeration value="2704" />
          <s:enumeration value="2705" />
          <s:enumeration value="2706" />
          <s:enumeration value="2707" />
          <s:enumeration value="2708" />
          <s:enumeration value="2709" />
          <s:enumeration value="2710" />
          <s:enumeration value="2711" />
          <s:enumeration value="2712" />
          <s:enumeration value="2713" />
          <s:enumeration value="2714" />
          <s:enumeration value="2715" />
          <s:enumeration value="2716" />
          <s:enumeration value="2717" />
          <s:enumeration value="2718" />
          <s:enumeration value="2801" />
          <s:enumeration value="2802" />
          <s:enumeration value="2803" />
          <s:enumeration value="2804" />
          <s:enumeration value="2805" />
          <s:enumeration value="2806" />
          <s:enumeration value="2807" />
          <s:enumeration value="2808" />
          <s:enumeration value="2809" />
          <s:enumeration value="2810" />
          <s:enumeration value="2811" />
          <s:enumeration value="2812" />
          <s:enumeration value="2813" />
          <s:enumeration value="2814" />
          <s:enumeration value="2815" />
          <s:enumeration value="2816" />
          <s:enumeration value="2817" />
          <s:enumeration value="2818" />
          <s:enumeration value="2819" />
          <s:enumeration value="2820" />
          <s:enumeration value="2821" />
          <s:enumeration value="2822" />
          <s:enumeration value="2901" />
          <s:enumeration value="2902" />
          <s:enumeration value="2903" />
          <s:enumeration value="2904" />
          <s:enumeration value="2905" />
          <s:enumeration value="2906" />
          <s:enumeration value="2907" />
          <s:enumeration value="2908" />
          <s:enumeration value="2909" />
          <s:enumeration value="3001" />
          <s:enumeration value="3002" />
          <s:enumeration value="3003" />
          <s:enumeration value="3004" />
          <s:enumeration value="3005" />
          <s:enumeration value="3006" />
          <s:enumeration value="3007" />
          <s:enumeration value="3008" />
          <s:enumeration value="3009" />
          <s:enumeration value="3010" />
          <s:enumeration value="3011" />
          <s:enumeration value="3012" />
          <s:enumeration value="3013" />
          <s:enumeration value="3014" />
          <s:enumeration value="3015" />
          <s:enumeration value="3016" />
          <s:enumeration value="3017" />
          <s:enumeration value="3018" />
          <s:enumeration value="3019" />
          <s:enumeration value="3020" />
          <s:enumeration value="3021" />
          <s:enumeration value="3022" />
          <s:enumeration value="3023" />
          <s:enumeration value="3024" />
          <s:enumeration value="3025" />
          <s:enumeration value="3026" />
          <s:enumeration value="3027" />
          <s:enumeration value="3028" />
          <s:enumeration value="3029" />
          <s:enumeration value="3030" />
          <s:enumeration value="3031" />
          <s:enumeration value="3032" />
          <s:enumeration value="3033" />
          <s:enumeration value="3034" />
          <s:enumeration value="3035" />
          <s:enumeration value="3036" />
          <s:enumeration value="3037" />
          <s:enumeration value="3038" />
          <s:enumeration value="3039" />
          <s:enumeration value="3040" />
          <s:enumeration value="3041" />
          <s:enumeration value="3042" />
          <s:enumeration value="3043" />
          <s:enumeration value="3044" />
          <s:enumeration value="3045" />
          <s:enumeration value="3046" />
          <s:enumeration value="3047" />
          <s:enumeration value="3048" />
          <s:enumeration value="3049" />
          <s:enumeration value="3050" />
          <s:enumeration value="3051" />
          <s:enumeration value="3052" />
          <s:enumeration value="3053" />
          <s:enumeration value="3054" />
          <s:enumeration value="3055" />
          <s:enumeration value="3056" />
          <s:enumeration value="3057" />
          <s:enumeration value="3058" />
          <s:enumeration value="3059" />
          <s:enumeration value="3060" />
          <s:enumeration value="3061" />
          <s:enumeration value="3062" />
          <s:enumeration value="3063" />
          <s:enumeration value="3064" />
          <s:enumeration value="3065" />
          <s:enumeration value="3066" />
          <s:enumeration value="3067" />
          <s:enumeration value="3068" />
          <s:enumeration value="3069" />
          <s:enumeration value="3070" />
          <s:enumeration value="3071" />
          <s:enumeration value="3072" />
          <s:enumeration value="3073" />
          <s:enumeration value="3074" />
          <s:enumeration value="3075" />
          <s:enumeration value="3076" />
          <s:enumeration value="3077" />
          <s:enumeration value="3078" />
          <s:enumeration value="3079" />
          <s:enumeration value="3080" />
          <s:enumeration value="3081" />
          <s:enumeration value="3082" />
          <s:enumeration value="3083" />
          <s:enumeration value="3084" />
          <s:enumeration value="3085" />
          <s:enumeration value="3086" />
          <s:enumeration value="5001" />
          <s:enumeration value="5002" />
          <s:enumeration value="5003" />
          <s:enumeration value="5004" />
          <s:enumeration value="5005" />
          <s:enumeration value="5006" />
          <s:enumeration value="5007" />
          <s:enumeration value="5008" />
          <s:enumeration value="5009" />
          <s:enumeration value="5010" />
          <s:enumeration value="5011" />
          <s:enumeration value="5012" />
          <s:enumeration value="5013" />
          <s:enumeration value="5014" />
          <s:enumeration value="5015" />
          <s:enumeration value="5016" />
          <s:enumeration value="5017" />
          <s:enumeration value="5018" />
          <s:enumeration value="5019" />
          <s:enumeration value="5020" />
          <s:enumeration value="5021" />
          <s:enumeration value="5022" />
          <s:enumeration value="5023" />
          <s:enumeration value="5024" />
          <s:enumeration value="5025" />
          <s:enumeration value="5026" />
          <s:enumeration value="5027" />
          <s:enumeration value="5028" />
          <s:enumeration value="5029" />
          <s:enumeration value="5030" />
          <s:enumeration value="5031" />
          <s:enumeration value="5032" />
          <s:enumeration value="5033" />
          <s:enumeration value="5034" />
          <s:enumeration value="5035" />
          <s:enumeration value="5036" />
          <s:enumeration value="5037" />
          <s:enumeration value="5038" />
          <s:enumeration value="5039" />
          <s:enumeration value="5040" />
          <s:enumeration value="5041" />
          <s:enumeration value="5042" />
          <s:enumeration value="5043" />
          <s:enumeration value="5044" />
          <s:enumeration value="5045" />
          <s:enumeration value="5046" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ct_prestadorIdentificacao">
        <s:sequence>
          <s:choice minOccurs="1" maxOccurs="1">
            <s:element minOccurs="0" maxOccurs="1" name="CNPJ" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CPF" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="codigoPrestadorNaOperadora" type="s:string" />
          </s:choice>
        </s:sequence>
      </s:complexType>
      <s:simpleType name="dm_versao">
        <s:restriction base="s:string">
          <s:enumeration value="3.02.00" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ct_loginSenha">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="loginPrestador" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="senhaPrestador" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ct_elegibilidadeVerifica">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="dadosPrestador" type="s0:ct_contratadoDados" />
          <s:element minOccurs="0" maxOccurs="1" name="numeroCarteira" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="nomeBeneficiario" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="numeroCNS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="identificadorBeneficiario" type="s:base64Binary" />
          <s:element minOccurs="0" maxOccurs="1" name="validadeCarteira" type="s:date" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ct_contratadoDados">
        <s:sequence>
          <s:choice minOccurs="1" maxOccurs="1">
            <s:element minOccurs="0" maxOccurs="1" name="cnpjContratado" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="codigoPrestadorNaOperadora" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cpfContratado" type="s:string" />
          </s:choice>
          <s:element minOccurs="0" maxOccurs="1" name="nomeContratado" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="assinaturaDigital">
        <s:complexContent mixed="false">
          <s:extension base="s1:SignatureType" />
        </s:complexContent>
      </s:complexType>
      <s:element name="respostaElegibilidadeWS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cabecalho" type="s0:cabecalhoTransacao" />
            <s:element minOccurs="0" maxOccurs="1" name="respostaElegibilidade" type="s0:ct_respostaElegibilidade" />
            <s:element minOccurs="0" maxOccurs="1" name="hash" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="assinaturaDigital" type="s0:assinaturaDigital" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ct_respostaElegibilidade">
        <s:sequence>
          <s:choice minOccurs="1" maxOccurs="1">
            <s:element minOccurs="0" maxOccurs="1" name="mensagemErro" type="s0:ct_motivoGlosa" />
            <s:element minOccurs="0" maxOccurs="1" name="reciboElegibilidade" type="s0:ct_elegibilidadeRecibo" />
          </s:choice>
        </s:sequence>
      </s:complexType>
      <s:complexType name="ct_motivoGlosa">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="codigoGlosa" type="s0:dm_tipoGlosa" />
          <s:element minOccurs="0" maxOccurs="1" name="descricaoGlosa" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ct_elegibilidadeRecibo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="registroANS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="numeroCarteira" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="validadeCarteira" type="s:date" />
          <s:element minOccurs="0" maxOccurs="1" name="nomeBeneficiario" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="numeroCNS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="identificadorBeneficiario" type="s:base64Binary" />
          <s:element minOccurs="1" maxOccurs="1" name="respostaSolicitacao" type="s0:dm_simNao" />
          <s:element minOccurs="0" maxOccurs="1" name="motivosNegativa" type="s0:ArrayOfCt_motivoGlosa" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="dm_simNao">
        <s:restriction base="s:string">
          <s:enumeration value="S" />
          <s:enumeration value="N" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfCt_motivoGlosa">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="motivoNegativa" type="s0:ct_motivoGlosa" />
        </s:sequence>
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.w3.org/2000/09/xmldsig#">
      <s:complexType name="SignatureType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SignedInfo" type="s1:SignedInfoType" />
          <s:element minOccurs="0" maxOccurs="1" name="SignatureValue" type="s1:SignatureValueType" />
          <s:element minOccurs="0" maxOccurs="1" name="KeyInfo" type="s1:KeyInfoType" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="Object" type="s1:ObjectType" />
        </s:sequence>
        <s:attribute name="Id" type="s:ID" />
      </s:complexType>
      <s:complexType name="SignedInfoType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CanonicalizationMethod" type="s1:CanonicalizationMethodType" />
          <s:element minOccurs="0" maxOccurs="1" name="SignatureMethod" type="s1:SignatureMethodType" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="Reference" type="s1:ReferenceType" />
        </s:sequence>
        <s:attribute name="Id" type="s:ID" />
      </s:complexType>
      <s:complexType name="CanonicalizationMethodType" mixed="true">
        <s:sequence>
          <s:any minOccurs="0" maxOccurs="unbounded" />
        </s:sequence>
        <s:attribute name="Algorithm" type="s:anyURI" />
      </s:complexType>
      <s:complexType name="SignatureMethodType" mixed="true">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="HMACOutputLength" type="s:integer" />
          <s:any minOccurs="0" maxOccurs="unbounded" />
        </s:sequence>
        <s:attribute name="Algorithm" type="s:anyURI" />
      </s:complexType>
      <s:complexType name="ReferenceType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Transforms" type="s1:ArrayOfTransformType" />
          <s:element minOccurs="0" maxOccurs="1" name="DigestMethod" type="s1:DigestMethodType" />
          <s:element minOccurs="0" maxOccurs="1" name="DigestValue" type="s:base64Binary" />
        </s:sequence>
        <s:attribute name="Type" type="s:anyURI" />
        <s:attribute name="URI" type="s:anyURI" />
        <s:attribute name="Id" type="s:ID" />
      </s:complexType>
      <s:complexType name="ArrayOfTransformType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Transform" type="s1:TransformType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TransformType" mixed="true">
        <s:sequence>
          <s:choice minOccurs="0" maxOccurs="unbounded">
            <s:element minOccurs="0" maxOccurs="1" name="XPath" type="s:string" />
            <s:any minOccurs="0" maxOccurs="1" />
          </s:choice>
        </s:sequence>
        <s:attribute name="Algorithm" type="s:anyURI" />
      </s:complexType>
      <s:complexType name="DigestMethodType" mixed="true">
        <s:sequence>
          <s:any minOccurs="0" maxOccurs="unbounded" />
        </s:sequence>
        <s:attribute name="Algorithm" type="s:anyURI" />
      </s:complexType>
      <s:complexType name="SignatureValueType">
        <s:simpleContent>
          <s:extension base="s:base64Binary">
            <s:attribute name="Id" type="s:ID" />
          </s:extension>
        </s:simpleContent>
      </s:complexType>
      <s:complexType name="KeyInfoType" mixed="true">
        <s:sequence>
          <s:choice minOccurs="0" maxOccurs="unbounded">
            <s:element minOccurs="0" maxOccurs="1" name="SPKIData" type="s1:SPKIDataType" />
            <s:element minOccurs="0" maxOccurs="1" name="PGPData" type="s1:PGPDataType" />
            <s:element minOccurs="0" maxOccurs="1" name="KeyName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="KeyValue" type="s1:KeyValueType" />
            <s:element minOccurs="0" maxOccurs="1" name="RetrievalMethod" type="s1:RetrievalMethodType" />
            <s:element minOccurs="0" maxOccurs="1" name="MgmtData" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="X509Data" type="s1:X509DataType" />
            <s:any minOccurs="0" maxOccurs="1" />
          </s:choice>
        </s:sequence>
        <s:attribute name="Id" type="s:ID" />
      </s:complexType>
      <s:complexType name="SPKIDataType">
        <s:sequence>
          <s:choice minOccurs="0" maxOccurs="unbounded">
            <s:element minOccurs="0" maxOccurs="1" name="SPKISexp" type="s:base64Binary" />
            <s:any minOccurs="0" maxOccurs="1" />
          </s:choice>
        </s:sequence>
      </s:complexType>
      <s:complexType name="PGPDataType">
        <s:sequence>
          <s:choice minOccurs="0" maxOccurs="unbounded">
            <s:element minOccurs="0" maxOccurs="1" name="PGPKeyID" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="PGPKeyPacket" type="s:base64Binary" />
            <s:any minOccurs="0" maxOccurs="1" />
          </s:choice>
        </s:sequence>
      </s:complexType>
      <s:complexType name="KeyValueType" mixed="true">
        <s:sequence>
          <s:choice minOccurs="1" maxOccurs="1">
            <s:element minOccurs="0" maxOccurs="1" name="RSAKeyValue" type="s1:RSAKeyValueType" />
            <s:element minOccurs="0" maxOccurs="1" name="DSAKeyValue" type="s1:DSAKeyValueType" />
            <s:any minOccurs="0" maxOccurs="1" />
          </s:choice>
        </s:sequence>
      </s:complexType>
      <s:complexType name="RSAKeyValueType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Modulus" type="s:base64Binary" />
          <s:element minOccurs="0" maxOccurs="1" name="Exponent" type="s:base64Binary" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DSAKeyValueType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="P" type="s:base64Binary" />
          <s:element minOccurs="0" maxOccurs="1" name="Q" type="s:base64Binary" />
          <s:element minOccurs="0" maxOccurs="1" name="G" type="s:base64Binary" />
          <s:element minOccurs="0" maxOccurs="1" name="Y" type="s:base64Binary" />
          <s:element minOccurs="0" maxOccurs="1" name="J" type="s:base64Binary" />
          <s:element minOccurs="0" maxOccurs="1" name="Seed" type="s:base64Binary" />
          <s:element minOccurs="0" maxOccurs="1" name="PgenCounter" type="s:base64Binary" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RetrievalMethodType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Transforms" type="s1:ArrayOfTransformType" />
        </s:sequence>
        <s:attribute name="Type" type="s:anyURI" />
        <s:attribute name="URI" type="s:anyURI" />
      </s:complexType>
      <s:complexType name="X509DataType">
        <s:sequence>
          <s:choice minOccurs="0" maxOccurs="unbounded">
            <s:element minOccurs="0" maxOccurs="1" name="X509Certificate" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="X509CRL" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="X509IssuerSerial" type="s1:X509IssuerSerialType" />
            <s:element minOccurs="0" maxOccurs="1" name="X509SKI" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="X509SubjectName" type="s:string" />
            <s:any minOccurs="0" maxOccurs="1" />
          </s:choice>
        </s:sequence>
      </s:complexType>
      <s:complexType name="X509IssuerSerialType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="X509IssuerName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="X509SerialNumber" type="s:integer" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ObjectType" mixed="true">
        <s:sequence>
          <s:any minOccurs="0" maxOccurs="unbounded" />
        </s:sequence>
        <s:attribute name="Encoding" type="s:anyURI" />
        <s:attribute name="MimeType" type="s:string" />
        <s:attribute name="Id" type="s:ID" />
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="tissVerificaElegibilidade_OperationSoapIn">
    <wsdl:part name="pedidoElegibilidadeWS" element="s0:pedidoElegibilidadeWS" />
  </wsdl:message>
  <wsdl:message name="tissVerificaElegibilidade_OperationSoapOut">
    <wsdl:part name="tissVerificaElegibilidade_OperationResult" element="s0:respostaElegibilidadeWS" />
  </wsdl:message>
  <wsdl:portType name="tissVerificaElegibilidade_Binding">
    <wsdl:operation name="tissVerificaElegibilidade_Operation">
      <wsdl:input message="tns:tissVerificaElegibilidade_OperationSoapIn" />
      <wsdl:output message="tns:tissVerificaElegibilidade_OperationSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="tissVerificaElegibilidade_Binding" type="tns:tissVerificaElegibilidade_Binding">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="tissVerificaElegibilidade_Operation">
      <soap:operation soapAction="" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="tissVerificaElegibilidade_Binding1" type="tns:tissVerificaElegibilidade_Binding">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="tissVerificaElegibilidade_Operation">
      <soap12:operation soapAction="" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="tissVerificaElegibilidade_PortType">
    <wsdl:port name="tissVerificaElegibilidade_Binding" binding="tns:tissVerificaElegibilidade_Binding">
      <soap:address location="http://sisamilhomologtiss.amil.com.br/WS/TISS/v3/02/00/tissVerificaElegibilidade_PortType.asmx" />
    </wsdl:port>
    <wsdl:port name="tissVerificaElegibilidade_Binding1" binding="tns:tissVerificaElegibilidade_Binding1">
      <soap12:address location="http://sisamilhomologtiss.amil.com.br/WS/TISS/v3/02/00/tissVerificaElegibilidade_PortType.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>